storage/alertmanager
storage/prometheus
storage/grafana/grafana.db
storage/elasticsearch/**/elastalert_status
storage/elasticsearch/**/logstash-alerts
storage/elasticsearch/**/logstash-logs
storage/elasticsearch/**/node.lock
elastalert/log
.vscode
